<template>
  <div class="cell" :class="{ fog: cell == '_', bomb: cell == 'B' }" @click="onClick">
    {{cell}}
  </div>
</template>

<script>
export default {
  name: 'Cell',
  props: ['cell', 'onClick'],
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.cell {
  flex: 0;
  flex-basis: 40px;
  height: 40px;
  border: 1px solid black;
}

.fog {
  background-color: grey;
  color: white;
}

.bomb {
  background-color: red;
  color: white;
}
</style>
