<template>
  <div class="hello">
    <h1>Minesweeper</h1>
    <div class="group">
      <h2>New Game</h2>
      <label>Rows: <input v-model="rows" /></label>
      <label>Columns: <input v-model="columns" /></label>
      <label>Bomb density: <input v-model="density" /></label>
      <button @click="game.newGame(rows, columns, parseFloat(density))">Start New Game</button>
    </div>
    <div class="status">{{game.status}}</div>
    <div class="bombCount">{{game.bombCount}}</div>
    <div class="grid">
      <div class="row" v-for="(row, rowIndex) in game.grid" :key="rowIndex">
        <Cell
          v-for="(cell, cellIndex) in row"
          :key="cellIndex"
          :cell="cell"
          :onClick="() => onCellClicked(rowIndex, cellIndex)"
          />
      </div>
    </div>
  </div>
</template>

<script>
import Cell from './Cell';

import Minesweeper from '../Minesweeper';

export default {
  name: 'Game',
  components: {
    Cell,
  },
  data() {
    const game = new Minesweeper();
    const density = 0.5;
    const rows = 4;
    const columns = 4;
    game.newGame(rows, columns, density);

    return { rows, columns, density, game };
  },
  methods: {
    onCellClicked(row, col) {
      this.game.checkCell(row, col);
      this.game.grid = this.game.grid;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
.row {
  display: flex;
  flex-direction: row;
}
.grid {
  margin: 100px;
}
.group {
  border: 1px solid grey;
}
label {
  display: block;
}
</style>
